body {
  margin: 0;
  background-color: #fff; 
  color: #fff; 
  display : flex;
  flex-direction: column;
  align-items: center; 
}

.instagram_post {
  background-color: #000; 
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
  max-width: 600px; 
}

.header {
  display: flex;
  width: 100%;
  align-items: center; 
  padding: 10px;
  font-size: 10px;
  justify-content: space-between;
}

.user {
  margin-left:10px;
  display: flex;
  flex-direction: row;
}
.profile{
  width: 40px; 
  border-radius: 50%; 
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  margin-left:10px;
}

.username, .location {
  margin: 0;
}

.options{
  justify-content: flex-end;
  margin-right: 10px;
}

.post-image {
  width: 100%;
  height: auto;
}

.footer {
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.icons{
  display: flex;
  align-items: center; 
  justify-content: space-between;
  padding: 10px;
}

.reactions i {
  margin-left: 10px; 
}
.bookmark{
  margin-right: 10px;
}
.likes {
  margin-top: 10px; 
  margin-left: 20px; 
  font-size: 10px;
}

.description {
  margin-top: 10px; 
  margin-left: 20px; 
  font-size: 12px;
}

.date {
  margin-top: 10px; 
  font-size: 10px;
  color: #999; 
  margin-left: 20px; 
}

